---
import ListButtons from "./ListButtons.astro"
import CodeEditor from "./CodeEditor.astro"

---

<CodeEditor id="editor"/>

<div class="mt-3">
    <button class="btn btn-primary" id="run-query" disabled>Execute</button>
    <ListButtons></ListButtons>
</div>

<div class="mt-3">
    <div id="result"></div>
</div>

<script>
    let MAX_QUERY_SIZE = 1240 * 1000; // a bit less than 1MB

    let button = $("#run-query");
    button.on("click", function() {
        button.prop("disabled", true);

        let username = $('#username').text();
        
        if (username === "Not logged in") {
            alert("You must be logged in to run queries.");
            return;
        }

        const query = window.getEditorContent();

        if (query) {
            if (query.length > MAX_QUERY_SIZE) {
                alert(`Query too large. Please try to split it into smaller parts. You need to remove at least ${query.length - MAX_QUERY_SIZE} characters.`);
                button.prop("disabled", false);
                return;
            }

            $.ajax({
                url: `${import.meta.env.BASE_URL}/api/run-query`,
                type: 'POST',
                data: {
                    'username': JSON.stringify(username),
                    'query': JSON.stringify(query),
                },
                success: function(data) {
                    button.prop("disabled", false);
                    
                    display(data)
                },
                error: function(e) {
                    alert(`Error connecting to the server: ${e.status} ${e.statusText}`);
                    
                    button.prop("disabled", false);
                }
            });
        }
    });
</script>