html {
    --message-bg-color: #fff4db;
    --message-bg-color-code: #ffffff;
    --text-color: var(--bs-body-color);
    --icon-width: 60px;
    --icon-margin: 10px;
}

.query-notice {
    position: relative;
    padding-left: 1rem;
}

.query-notice::before {
    content: ">";
    position: absolute;
    left: 0;
}


table {
    display: block;
    min-height: 50px;
}

.chat {
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 1rem;
}


.chat .thinking {
    animation: pulse 2s infinite ease-in-out;
}

@keyframes pulse {
    0%, 100% {
      opacity: 0.4;
    }
    50% {
      opacity: 0.9;
    }
  }

table {
    width: auto!important;
}

.messagebox {
    display: flex;
    margin-top: .5rem;
}

.messagebox-assistant {
    justify-content: left;
}

.messagebox-user {
    justify-content: right;
}

.icon {
    width: var(--icon-width);
    overflow: hidden;
    position: relative;
    float: left;
    text-align: center;
}

.messagebox-user .icon {
    margin-left: var(--icon-margin);
}

.messagebox-assistant .icon {
    margin-right: var(--icon-margin);
}

.message {
    position: relative;
    border: 2px solid var(--message-bg-color);
    border-radius: 6px;
    background: var(--message-bg-color);
    color: var(--text-color);
    font-size: 14px;
    line-height: 1.5;
    padding: 8px;
    max-width: calc(100% - 200px);  /* 140px to have perfectly-aligned messages */
}

/* .messagebox-assistant .message {
    margin-right: var(--icon-width);
}

.messagebox-user .message {
    margin-left: var(--icon-width);
} */

.message:after {
    content: "";
    position: absolute;
    top: 15px;
    border-style: solid;
}

.messagebox-assistant .message:after {
    left: -10px;
    border-width: 8px 10px 8px 0;
    border-color: transparent var(--message-bg-color) transparent transparent;
}

.messagebox-user .message:after {
    right: -10px;
    border-width: 8px 0 8px 10px;
    border-color: transparent transparent transparent var(--message-bg-color);
}

.code {
    background: var(--message-bg-color-code);
    color: var(--text-color);
    padding-left: 1rem!important;
    padding-right: 1rem!important;
}

.message-feedback {
    text-align: right;
}

.feedback {
    display: inline-block;
    padding: 2px 8px;
    font-size: 14pt;
    color: slategray;
    cursor: pointer;
}

.feedback.disabled {
    color: gray;
    cursor: not-allowed;
    pointer-events: none;
}

.feedback-up.selected {
    color: green;
}

.feedback-down.selected {
    color: red;
}

.chat-title i {
    margin-right: 1rem;
}


.buttons {
    margin-top: 1rem;
}
.buttons button {
    margin: 0 1px;
}